@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Muli:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  background-image: url(https://www.istockphoto.com/photo/light-blue-studio-space-with-window-shadow-gm1062261710-283999900?phrase=simple%20background);
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-image: url(./background.jpeg);
  width: 90%;
  max-width: 150rem;
  height: 80vh;
  background-color: #4b2d05;
  color: #eee;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: minmax(38%, 40rem) repeat(2, minmax(29%, 29rem));
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
}

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  position: absolute;
  left: 40px;
  top: 50px;
  font-family: "Muli", serif;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color:whitesmoke;
  border-bottom: 2px solid whitesmoke;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.balance {
  position: absolute;
  left: 20px;
  text-align: left;
}

.balance h2 {
  margin-left: 165px;
  color: rgba(245, 245, 252, 0.911);
  font-family: "Baloo Da 2", serif;
  font-size: 35px;
  font-weight: 200;
  text-shadow: 0 0.2rem 0.5rem rgba(255, 23, 23, 0.4);
}

.balance h3 {
  margin-left: 100px;
  color: rgba(68, 133, 170, 0.973);
  font-family: "Baloo Da 2", serif;
  font-size: 35px;
  /* font-weight: 100; */
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  
}

.income-expense {
  display: flex;
  justify-content: space-evenly;
  font-family: "Muli", serif;
  text-shadow: 0 0.2rem 0.5rem rgba(235, 224, 224, 0.4);
  text-align: right;
  position: absolute;
  top: 35px;
}

.plus,
.minus {
  margin: 0 2rem;
}
.plus {
  
  color: #037019;
}

.minus {
  
  color: #e25937cb;
}
.expens{
  position: absolute;
  left: 5em;
}
.incom{
  position: absolute;
  right: 10%;
}
.income-expense h3 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  width: 100%;
  color: rgba(245, 245, 245, 0.685);
}

.income-expense p {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.p1{
  position: absolute;
  right: 10%;
  top: 2em;
  
}
.p2{
  position: relative;
  top: 2em;
  left: 9.5em;

}


.form-wrapper {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.income {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.expense {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.input-group input:not([type="submit"]) {
  width: 30rem;
  margin-bottom: 2.5rem;
  border: none;
  background: transparent;
  border-bottom: 0.2rem solid #777;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-family: "Baloo Da 2", serif;
  font-size: 1.8rem;
  color: #eee;
  outline: none;
  transition: border-bottom 0.4s;
}

.income input:not([type="submit"]):focus {
  border-bottom: 0.2rem solid #1de746;
}

.expense input:not([type="submit"]):focus {
  border-bottom: 0.2rem solid #eb1612;
}

.input-group input[type="submit"] {
  width: 10rem;
  padding: 0.7rem;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  font-family: "Muli", serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 1rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.input-group input[type="submit"]:active {
  transform: translateY(0.3rem);
}

.income input[type="submit"] {
  background-color: #0ed836c4;
}

.expense input[type="submit"] {
  background-color: #f53330dc;
}


.transactions {
  margin-top: 3rem;
}

.transactions h2 {
  font-family: "Baloo da 2", serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.transactions-income {
  grid-column: 2 / 3;
  grid-row: 5 / -1;
}

.transactions-expense {
  grid-column: 3 / -1;
  grid-row: 5 / -1;
}

.transaction-list {
  width: 92%;
  max-height: 35rem;
  overflow: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.transaction {
  list-style: none;
  font-family: "Baloo da 2", serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: #fff;
  padding: 0.4rem 0.4rem 0.4rem 0.7rem;
  border-radius: 0.3rem;
  width: 32rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.transactions-income .transaction {
  background-color: #0ed8368f;
}

.transactions-expense .transaction {
  background-color: #f72622ad;
}

.transaction-text {
  width: 23rem;
}

.transaction-amount {
  transform: translateX(3rem);
}

.delete-btn {
  transform: translateX(4rem);
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin: 0 1rem;
  color: #f8332fc5;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}

@media (max-width: 1500px) {
  html {
    font-size: 58%;
  }

  .app-wrapper {
    width: 95%;
    max-width: 140rem;
    height: 85vh;
  }

  .balance {
    margin-top: 6rem;
  }

  .income-expense {
    margin-top: 7rem;
  }

  .transaction-list {
    max-height: 31rem;
  }

  .transaction {
    width: 30rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 52%;
  }

  .app-wrapper {
    grid-gap: 0;
  }

  .transaction-list {
    max-height: 29rem;
  }

  .transaction {
    width: 28rem;
  }
}
.chart{
  width: 200px;
  position: absolute;
  left: 3%;
  top: 55%;
}
.title{
  color: rgb(216, 204, 204);
  font-size: 20px;
  position: absolute;
  top:40% ;
  right: 35%;
  font-weight: bold;
}
.chart .pourcentage{
  color: green;
  padding: 10px;
  font-weight: bold;
}
.chart2{
  width: 200px;
  position: absolute;
  left: 23%;
  top: 55%;
}
.title2{
  color: rgb(216, 204, 204);
  font-size: 20px;
  position: absolute;
  top:40% ;
  right: 34%;
  font-weight: bold;
}
.chart2 .pourcentage2{
  color: rgb(26, 148, 26);
  padding: 10px;
  font-weight: bold;
}
